#footer {
	background-color: white;
	color: black;
	margin-top: 60px;
	margin-bottom: 60px;
	overflow: hidden;
}

#footer h6, #footer a, #footer li {
	text-align: right;
}

#footer a {
	opacity: 0.5;
}
