
#logo {
	width: 114px;
	height: 30px;
	background-image: url('../assets/imgs/svg/logo.svg');
	transition: all 200ms ease;
	opacity:0.8;
	margin-top:5px;
	margin-top: 15px;
	margin-right: 10px;
}

#logo:hover {
  opacity:1;
}

#nav {
	height: 60px;
	width: 100%;
	background-color: white;
	position:fixed;
	z-index: 998;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

#nav a {
  text-decoration: none;
  margin-top: 19px;
  font-weight: 800;
  color: #424242;
  opacity:0.8;
  transition: all 200ms ease;
}

#nav a:hover 	{ outline: 0; text-decoration: none; opacity:1; }
#nav a:active 	{ outline: 0;}
#nav a:visited 	{ color: #424242; }
#nav a:focus	 	{ outline: 0;  }

#nav a.pull-left + #nav a.pull-left {
  margin-left: 25px;
}

#nav a.pull-left:not(#logo){
  opacity:0.6;
}

#nav a.pull-left:not(#logo):hover {
  opacity:1;
}

#nav a.active {
  opacity:1!important;
}

#nav a.pull-right {
  margin-top: 15px;
}
