.popupConnect{
		background: #FFF;
		border: black 2px;
		margin: auto;
		margin-top: 150px;
		height:200px;
		width:200px;
		display:none;
	}
.popupInscription{
		background: #FFF;
		border: black 2px;
		margin: auto;
		margin-top: 150px;
		height:200px;
		width:200px;
		display:none;
	}

.popupPseudo{
		background: #FFF;
		border: black 2px;
		margin: auto;
		margin-top: 150px;
		height:200px;
		width:200px;
		display:none;
	}

.background121{
	display:none;
	position:absolute;
	height:100%;
	width: 100%;
	top:0;
	left:0;
	background:#000000;	   
}
#tchatF{
	margin-top:10%;
	margin-right:2%;
	padding:2% 2% 2% 2%;
	float:right;
	position:relative;
	max-width:100%;
	max-height: 40%;
	overflow-x : hidden;
	background-color: rgba(0,0,0,0.2);
	display:inline-block;
}
textarea{
	width:90%;
	text-align:center;
}
#questionF{
	padding:2% 2% 2% 2%;
	max-width:100%;

	max-height: 40%;
	overflow-x : hidden;
	background-color: rgba(0,0,0,0.2);
	display:inline-block;
}