#nav { position: relative }
.popupConnect{
	background: rgba(0,0,0,0.9);
		border: black 2px;
		min-width:100%;
		min-height:100%;
		position: relative;
		text-align:center;
		display:none;
}
.p{
	background-color:#FFF;
	display:inline-block;
	padding: 2%;
}
.close{
	text-align:right;
	vertical-align: top;
	margin-bottom:20px;
	font-weight: bold;
	font-size: 2em;
}
.popupInscription{
	background: rgba(0,0,0,0.6);
		border: black 2px;
		color:rgb(182,182,182);
		min-width:100%;
		min-height:100%;
		position: relative;
		text-align:center;
		display:none;
}

.black{
	background-color: black;
	min-width:100%;
	min-height:100%;
}
.popupPseudo{
		background: #FFF;
		border: black 2px;
		margin: auto;
		margin-top: 150px;
		height:200px;
		width:200px;
		display:none;
}
.tchatArea input{
	display: inline-block;
	width: 80%;
	background-colorr: #000000;
	border:none;
}
.hidden{
	background:none;
	border: none;

}
#tchatF{
	margin-top:2%;
	margin-right:2%;
	padding:2% 2% 2% 2%;
	max-width:40%;
	background-color: rgb(242,242,242);
	display:inline-block;
}
#tchat{
	max-height: 400px;
	overflow-y : scroll;

}
.tchatP{
	color: rgb(164,164,164);
	font-size: 0.9em;
}
#flux{
	margin-top:2%;
	margin-right:2%;
	padding:2% 2% 2% 2%;
	float:left;
	position:relative;
	max-width:60%;
//	max-height: 40%

	background-color: rgba(0,0,0,0.2);
	display:inline-block;
}
.row{
	overflow: inherit;
}
b{
	color: #000000;
	font-style:bold;

}
.hour{
	display: inline-block;
	float: right;
	padding: 0 0 0 5px; 
}
h4{
	margin-bottom:0;
	color: rgb(107,144,148);
	font-weight: bold;
}
p{
	font-weight: bold;
	color: rgb(202,202,202);
}
textarea{
	width:90%;
	text-align:center;
}
h6{
	font-width: 1em;
	color:rgb(135,135,135);
	font-weight: bold;
}
.icon{
	border-radius: 50%;
	background-color: rgb(245,245,245);
	padding: 4px 7px 7px 7px;
	text-align:center;
	display:inline-block;
}
#questionF{
	margin: 2% 0 0 0;
	padding:2% 2% 2% 2%;
	min-width:100%;
	max-height: 40%;
	overflow-x : hidden;
//	background-color: rgba(0,0,0,0.2);
	display:inline-block;
}