#affQ .icon{
	border-radius: 50%;
	background-color: rgb(245,245,245);
	padding: 4px 7px 7px 7px;
	text-align:center;
	display:inline-block;
}

.question-wrapper {
	margin-top: 30px;
	width: 100%;
}

.question {
	margin-bottom: 1px solid rgb(245,245,245);
}
