#affQ .icon{
	border-radius: 50%;
	background-color: rgb(245,245,245);
	padding: 4px 7px 7px 7px;
	text-align:center;
	display:inline-block;
}

.question-wrapper {
	margin-top: 15px;
	width: 100%;
}

.question {
	position: relative;
	border-bottom: 1px solid rgb(245,245,245);
}

.question .state {
	position: absolute;
	top:0;
	left:0;
}

.question h4 {
	margin-left: 25px;
}

.question .upvote {
	float: right;
}
