#affQ .icon{
	border-radius: 50%;
	background-color: rgb(245,245,245);
	padding: 4px 7px 7px 7px;
	text-align:center;
	display:inline-block;
}

.question-wrapper {
	margin-top: 15px;
	width: 100%;
}

.question {
	position: relative;
	border-bottom: 1px solid rgb(245,245,245);
}

.question .state {
	position: absolute;
	top:0;
	left:0;
	width: 40px;
	height: 40px;
}

.question h4 {
	margin-left: 50px;
}

.question .upvote {
	float: right;
}

.question-button { flex-shrink: 6; }

.message i {
	position: absolute;
	font-size: 6rem;
	top: 23px;
	left: 26px;
}
.message h5 {
	margin-left:90px!important;
}
.message form{
	margin-left:90px!important;
}
